<section style="margin: 40px;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-11 col-lg-7 col-xl-8">
                    <div class="card" style="border-radius: 15px;border:1px dashed rgb(192, 192, 192);">
                        <div class="card-body p-5">
                            <div class="row mb-4">
                                <form [formGroup]="QuestionFom" >
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form12">السؤال</label>
                                        <input style="border:1px solid gray;" type="text" id="question"
                                            class="form-control"  formControlName="question" [(ngModel)]="oldExam.question"/>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col col-lg-6">
                                                <div class="form-outline">
                                                    <label class="form-label" for="radioa">إجابة أ</label>
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <input class="form-check-input" type="radio"  name="radioa" [checked]="radioStatus"
                                                            id="radioa" value="a" (change)="onChange($event)"
                                                            />
                                                        <input style="margin-right: 30px;" type="text" id="radioa"
                                                            class="form-control" formControlName="option1" [(ngModel)]="oldExam.option1"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-lg-6">
                                                <div class="form-outline">
                                                    <label class="form-label" for="radiob">إجابة ب</label>
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <input class="form-check-input" type="radio" name="radioa" [checked]="radioStatus"
                                                            id="radiob" value="b"  (change)="onChange($event)" 
                                                            />
                                                        <input style="margin-right: 30px;" type="text" id="radiob"
                                                            class="form-control" formControlName="option2" [(ngModel)]="oldExam.option2"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col col-lg-6">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="radioc">إجابة ج</label>
                                                        <div style="display:flex;justify-content: space-between;">
                                                            <input class="form-check-input" type="radio"  name="radioa" [checked]="radioStatus"
                                                                id="radioc" value="c" (change)="onChange($event)"                                                         />
                                                            <input style="margin-right: 30px;" type="text" id="radioc"
                                                                class="form-control" formControlName="option3" [(ngModel)]="oldExam.option3"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-lg-6">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="radiod">إجابة د</label>
                                                        <div style="display:flex;justify-content: space-between;">
                                                            <input class="form-check-input" type="radio"  name="radioa" [checked]="radioStatus"
                                                                id="radiod" value="d" (change)="onChange($event) "                                                           />
                                                            <input style="margin-right: 30px;" type="text" id="radiod"
                                                                class="form-control" formControlName="option4" [(ngModel)]="oldExam.option4"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ************************************ -->
                                                <div class="col mt-3">
                                                    <div class="form-outline">
                                                      <label class="form-label" for="form11Example2">درجة السؤال</label>
                                                      <input type="number" id="form11Example2" formControlName="questionDegree" class="form-control" [(ngModel)]="oldExam.questionDegree"/>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ********************************************************************* -->
                                    <div style="display:flex;justify-content: start;margin-top: 40px;">
                                            <button (click)="Edit(QuestionFom)" type="submit" 
                                            style="width: 150px;height: 50px;border-radius: 25px;background-color:#40844e;border: 1px solid transparent;color: white;margin-left:10px ;">تعديل</button>
                                       
                                            <button (click)="exit(QuestionFom)" type="submit" 
                                            style="width: 150px;height: 50px;border-radius: 25px;background-color:red;border: 1px solid transparent;color: white;">إلغاء</button>
                                       
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>